* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-height: 1450px;
    max-width: 1450px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 55px;
    padding: 20px;
}

.apply {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.container2 {
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}

.container2_left {
    padding: 100px;
}

.hero_left h1 {
    font-size: 75px;
}

.hero_left span {
    color: #4b5af6;
}

.container2_left button {
    border-radius: 5px;
    padding: 8px;
    background-color: #8d51fb;
    color: #ffff;
}

.container2_left p {
    margin-top: 15px;
}

.container2_right {
    overflow: hidden;
    height: 550px;
}


.container3 {
    margin-top: 70px;
    margin-bottom: 20px`;
}

.container3_img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.container3_h1 {
    text-align: center;
    margin-bottom: 70px;
    padding: 20px;
    color: #373737;
}

.box1 {
    text-align: center;
}

.box1 h1 {
    margin-bottom: 40px;
    color: #373737;
}

.box1 p {
    font-size: 18px;
}

.box2 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.box3 {
    padding: 30px;
}


.box_1 {
    color: #8445fa;
}

.box4 {
    text-align: center;
    margin-top: 100px;
}

.box4 button {
    border-radius: 5px;
    padding: 15px;
    background-color: #717CFF;
    color: #ffff;
    margin-top: 80px;
}

.box5 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.box5 img {
    padding-right: 20px;
}

.head_1 {
    margin-right: 170px;
}



.box6 {
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
}

.head_2 {
    border-radius: 5px;
    padding: 15px;
    background-color: #9736e0;
    color: #ffff;
}

.box7 {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    background-color: #515fff;
    padding-top: 70px;
}

.box8 ul {
    color: #ffff;
    list-style: none;
}

.box8 p {
    color: #ffff;    
}

.box9 p {
    color: #ffff;
    padding-top: 120px;
}